/* Custom styles to apply on specific components */

.board-background {
  background: radial-gradient(
    circle,
    rgba(245, 222, 179, 0.7),
    rgba(210, 180, 140, 0.7)
  );
}

/* .font-lora-bold {
  font-family: 'Lora', serif;
  font-weight: 700;
} */
