@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* body {
    Apply global styles here
} */

.bg-board {
  background: radial-gradient(
    circle,
    rgba(245, 222, 179, 0.7),
    rgba(210, 180, 140, 0.7)
  );
}

.bg-modal {
  background-color: rgba(245, 222, 179, 0.9); 
  /* remove 0.9 to hex */
}

.icon:hover {
  cursor: pointer;
}

.font-cinzel-semibold {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

.font-lora-italic-bold {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 700;
}

.font-lora-regular {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.switch-lg {
  transform: scale(1.5);
}
